.nav-bar {
  background-color: #65451F;
  width: 150px;
}

.nav-links {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  list-style-type: none;
  font-weight: bold;
}

.nav-button {
  color: #b3afaf;
  cursor: pointer;
}

.nav-button:hover {
  color: #ffffff;


}